*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#page1 {
  width:100vw;
  height:100vh; 
    background : url(./hacker5.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
    
#page2 {
  width:100vw;
  height:100vh; 
    background : url(./background\ hacking\ pro.PNG);
    background-size:cover;
    background-repeat: no-repeat;
    background-size: cover;
}

#background {
  background-image: "./hacker4.jpg";
  opacity: 0,2;
}

header{
    height: 60px;
}

#container{
    display: flex;
    flex-direction: row; 
    width: 100%;
    height: 100% - 100px;
  }

h1{
    margin-top: 80px; 
    text-align: center;
    color:aliceblue;
    font-size: 75px;
    font-weight: bold;
}

h5{
  margin-top: 80px; 
  text-align: center;
  color:grey;
  font-size: 75px;
  font-weight: bold;
}

h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
    color:grey;
}

#pick{
    display: flex; 
    flex-direction: column;
    padding: 40px;
    align-items: center;
    flex-grow: 2;
    margin-top: 100px;
}



.color{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
}

#choose{
    display: flex; 
    flex-direction: column;
    padding: 40px;
    align-items: center;
    flex-grow: 2;
    margin-top: 100px;
}

.guess {
    display: flex;
    flex-direction: row;
    
}

.secretColor{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
    background-color: ivory;
}

#check{
    display: flex; 
    flex-direction: column;
    padding: 40px;
    align-items: center;
    flex-grow: 2;
    margin-top: 100px;
   
}

.hints{
    display: flex;
    flex-direction: row;
    width:160px; 
   
}

.hint {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
    background-color: ivory;
}


.blue{
    background-color: blue;
}
.red{
    background-color:red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.grey{
    background-color:grey;
}
.purple{
    background-color:plum;
}

.orangeCross{
    background-image: url(./Orange_cross.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    padding-left: 5px;
}

.greenValid{
    background-image: url(./image\ validé.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

#intro {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    border: 5px ridge grey;
    margin-top: 100px;
    margin-left:400px;
    margin-right:400px;
  }

  #introbtn {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 900px;
    margin-right: 900px;
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    border: 10px outset grey;
    background-color: grey;
  }

  #restartbtn {
    display: flex;
    flex-direction: row;
    width: 160px;
    margin-top: 20px;
    margin-left: 900px;
    margin-right: 900px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    border: 10px outset grey;
    color: black;
    background-color: grey;
  }

  #rules{
      text-align: center;
      margin-top: 20px;
      font-size: 20px;
  }
  h3{
      margin-left:200px; 
      margin-right:200px;
      font-style: italic;
      text-decoration: underline;
      font-size: 30px;
  }

  #play.btn{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 5px;
  }

